body > header {
position: sticky;
top: 0;
z-index: 1000;
}
h2 {
  color: darkgreen;
  font-size: 20px;
}
h3 {
  color: navy;
  font-size: 18px;
}
.horizontal-rule {
  color: gray;
}
.skills {
  font-size: 18px;
  color: gray;
}
.scopeOfWork {
  font-size: 18px;
  color: gray;
}
.strongBold {
  font-weight: bold;
  color: gray;
  font-size: 18px;
}
.paragraphSummary {
  font-size: 20px;
  color: gray;
}
.listEducation {
  font-size: 16px;
  color: gray;
}
.ProExParagraph {
  font-size: 16px;
  color: gray;
}
.badgeLink {
    font-size: 16px;
    color: gray;
    line-height: 3cap;
}
.PortfolioLink {
    font-size: 16px;
    color: gray;
    line-height: 3cap;
}
.imgHead,
.summaryHead,
.eduSection,
.proExSection,
.skillsSection,
.badgeSection,
.adInfoSection {
width: min(90vw, 1200px);
padding: 1rem;
margin: 0 auto;
 
border: 2px solid transparent;
border-radius: 12px;
background:
linear-gradient(white, white) padding-box,
linear-gradient(90deg, #00c6ff, #0072ff, #00c6ff) border-box;
}
