h2 {
  color: darkgreen;
  font-size: 20px;
}
h3 {
  color: navy;
  font-size: 18px;
}
.horizontal-rule {
  color: gray;
}
.skills {
  font-size: 18px;
  color: gray;
}
.scopeOfWork {
  font-size: 18px;
  color: gray;
}
.strongBold {
  font-weight: bold;
  color: gray;
  font-size: 18px;
}
.paragraphSummary {
  font-size: 20px;
  color: gray;
}
.listEducation {
  font-size: 16px;
  color: gray;
}
.ProExParagraph {
  font-size: 16px;
  color: gray;
}
.badgeLink {
    font-size: 16px;
    color: gray;
    line-height: 3cap;
}
.PortfolioLink {
    font-size: 16px;
    color: gray;
    line-height: 3cap;
}
.imgHead {
  background-color: aquamarine;
  padding: auto;
  border: 0cm;
  margin: auto;
}
.summaryHead {
  background-color: beige;
  padding: auto;
  border: 0cm;
  margin: auto;
}
.eduSection {
  background-color: aquamarine;
  padding: auto;
  border: 0cm;
  margin: auto;
}
.proExSection {
  background-color: beige;
  padding: auto;
  border: 0cm;
  margin: auto;
}
.skillsSection {
  background-color: aquamarine;
  padding: auto;
  border: 0cm;
  margin: auto;
}
.badgeSection {
  background-color: beige;
  padding: auto;
  border: 0cm;
  margin: auto;
}
.adInfoSection {
  background-color: aquamarine;
  padding: auto;
  border: 0cm;
  margin: auto;
}
